# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
df.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = df.copy()
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

### Step 4. How many products cost more than $10.00?

In [8]:
chipo['new_item_price'] = chipo.item_price.apply(lambda x: x.strip().replace('$','')).astype(float)
chipo['item_price_per_unit'] = chipo.new_item_price / chipo.quantity

In [10]:
chipo.query('item_price_per_unit >10 ').item_name.unique() , chipo.query('item_price_per_unit > 10').item_name.nunique()

(array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
        'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
        'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
        'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
        'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chicken Salad',
        'Steak Salad Bowl', 'Chicken Crispy Tacos', 'Veggie Soft Tacos',
        'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos',
        'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Steak Soft Tacos',
        'Carnitas Soft Tacos', 'Steak Crispy Tacos'], dtype=object),
 25)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [11]:
chipo.groupby('item_name').item_price_per_unit.mean()

item_name
6 Pack Soft Drink                         6.490000
Barbacoa Bowl                            10.187273
Barbacoa Burrito                          9.832418
Barbacoa Crispy Tacos                    10.087273
Barbacoa Salad Bowl                      10.640000
Barbacoa Soft Tacos                      10.018400
Bottled Water                             1.431667
Bowl                                      7.400000
Burrito                                   7.400000
Canned Soda                               1.090000
Canned Soft Drink                         1.250000
Carnitas Bowl                            10.315588
Carnitas Burrito                          9.975932
Carnitas Crispy Tacos                     9.852857
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.398500
Chicken Bowl                              9.657727
Chicken Burrito                           9.475949
Chicken Crispy Tacos                      9.492340
Chicken Salad                             9.010000
Chicken Salad Bowl                        9.909091
Chicken Soft Tacos                        9.240261
Chips                                     2.149242
Chips and Fresh Tomato Salsa              2.748727
Chips and Guacamole                       4.345616
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        2.950000
Chips and Roasted Chili-Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     2.950000
Chips and Tomatillo Red Chili Salsa       2.950000
Chips and Tomatillo-Green Chili Salsa     2.390000
Chips and Tomatillo-Red Chili Salsa       2.390000
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.390000
Salad                                     7.400000
Side of Chips                             1.690000
Steak Bowl                               10.232559
Steak Burrito                             9.993424
Steak Crispy Tacos                        9.952857
Steak Salad                               8.915000
Steak Salad Bowl                         11.027931
Steak Soft Tacos                          9.578182
Veggie Bowl                              10.011882
Veggie Burrito                            9.602842
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.138889
Veggie Soft Tacos                         9.352857
Name: item_price_per_unit, dtype: float64

### Step 6. Sort by the name of the item

In [15]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price,new_item_price,item_price_per_unit
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
...,...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [18]:
chipo.nlargest(1,columns= 'item_price_per_unit', keep = 'all').groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [19]:
chipo.query('item_name == "Veggie Salad Bowl"').count()

order_id               18
quantity               18
item_name              18
choice_description     18
item_price             18
new_item_price         18
item_price_per_unit    18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?