In [ ]:
list, tuple, dict, set

In [1]:
a = 3

In [2]:
type(3)

int

In [3]:
a = 4

In [4]:
a

4

In [5]:
a = 3

In [6]:
id(a)

4509956512

In [7]:
a = 4

In [15]:
[method for method in dir(list) if not method.startswith("__")]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
a = [1, 2, 3, 4, 5]

In [17]:
a[0] = 10
a

[10, 2, 3, 4, 5]

In [18]:
a[2]

3

In [19]:
a[1:3], start: inclusive, end: exclusive

[2, 3]

In [20]:
a[1:3] = [5, 6]

In [21]:
a

[10, 5, 6, 4, 5]

# Tuple - immutable

In [22]:
tup = tuple([1, 2, 3, 4])

In [24]:
tup

(1, 2, 3, 4)

In [25]:
tup_2 = (1, 2, 3, 4)
tup_2

(1, 2, 3, 4)

In [27]:
[method for method in dir(tuple) if not method.startswith("__")]

['count', 'index']

In [30]:
tup_2.count(3)

1

In [31]:
tup_2.index(4)

3

In [32]:
tup_2[2]

3

In [33]:
a

[10, 5, 6, 4, 5]

In [34]:
a[1] = 15
a

[10, 15, 6, 4, 5]

In [35]:
tup_2

(1, 2, 3, 4)

In [36]:
tup_2[1] = 15

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [ ]:
dict

In [37]:
dict_1 = {"name": "Truonng", "age": 45}
dict_1

{'name': 'Truonng', 'age': 45}

In [39]:
dict_1['name'] = "Duy"

In [40]:
dict_1

{'name': 'Duy', 'age': 45}

comprehensive

In [42]:
[method for method in dir(dict_1) if not method.startswith("__")]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [44]:
dict_1['name']

'Duy'

In [45]:
dict_1.get('name')

'Duy'

In [47]:
dict_1

{'name': 'Duy', 'age': 45}

In [46]:
dict_1['uni']

KeyError: 'uni'

In [49]:
dict_1.get('uni', 'SG')

'SG'

In [52]:
dict_1.setdefault('uni', 'SG')

In [53]:
dict_1

{'name': 'Duy', 'age': 45, 'uni': None}

## Set

In [54]:
se = {1, 2, 3, 4}

In [55]:
se

{1, 2, 3, 4}

- No index
- No ordered
- No duplicated

In [61]:
se_1 = {1, 2, 2, 3, 3, 4}

In [62]:
se_1

{1, 2, 3, 4}

In [63]:
[method for method in dir(set) if not method.startswith("__")]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

union, intersection, difference, subset

In [65]:
se_1.add(10)

In [73]:
se_1 = {1, 2, 3, 4, 10}
se_1

{1, 2, 3, 4, 10}

In [74]:
se_2 = {3, 4, 5, 6}
se_2

{3, 4, 5, 6}

In [75]:
se_3 = se_1.difference(se_2)
se_3

{1, 2, 10}

In [76]:
se_4 = se_1.difference_update(se_2)
se_4

In [77]:
se_4

# Function
- Build-in function
- User-defined function

**Structure of function**
  - def name_of_function(argument(optional), ...):
        businness logic
        return (optional)

In [80]:
def sum_of_2_numbers(a, b):
    return a + b

In [81]:
sum_of_2_numbers(3, 4)

7

In [82]:
def subtract(a, b):
    return a - b

In [83]:
subtract(1, 10)

-9

**modulus: %**

In [84]:
5%2

1

In [85]:
5//2

2

In [86]:
5**2

25

In [87]:
def hello():
    print("Hello word")
    return 0

In [88]:
hello()

Hello word

0

In [89]:
def subtract(a, b):
    print(f"{a} subtract {b} is {a-b}")

In [90]:
subtract(10, 20)

10 subtract 20 is -10

In [91]:
def subtract(a, b):
    return a, b, a-b

In [92]:
subtract(3, 10)

(3, 10, -7)

In [93]:
a, d, e = subtract(3, 10)

In [94]:
a

3

In [95]:
d

10

In [96]:
e

-7

In [97]:
a, _, _ = subtract(3, 10)

In [98]:
a

3

In [102]:
a, b= subtract(3, 10)

ValueError: too many values to unpack (expected 2)

In [100]:
a

(3, 10, -7)

In [101]:
a[0]

3

## Lamdda: inline function

In [103]:
x = lambda x : x**2

In [104]:
x(4)

16

In [105]:
z = lambda x, y : x*y

In [106]:
z(3, 4)

12

Swap 2 numbers (a, b) --> (b, a)
- Dùng biến tạm
- Không dùng biến tạm
- ...

In [ ]:
swap(4, 2) --> (2, 4)

## Control Flow:
- Sequential (Tuan tu)
- Loop (Lap)
- Conditional (Re nhanh)

## Tuan tu

In [107]:
def sequential():
    print("Truong")
    print("*"*50)
    print("="*100)

In [108]:
sequential()

Truong
**************************************************
====================================================================================================

## Loop (Lap)
- For
- While

In [109]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [112]:
li = [1, 2, 3, 4, 5]
li_2 = []
for item in li:
    print(item)
    li_2.append(item**2)
    print(li_2)
    print("="*50)

1
[1]
==================================================
2
[1, 4]
==================================================
3
[1, 4, 9]
==================================================
4
[1, 4, 9, 16]
==================================================
5
[1, 4, 9, 16, 25]
==================================================

In [111]:
li_2

[1, 4, 9, 16, 25]

8

In [114]:
tup = (3, 4, 5)
li = []
for item in tup:
    li.append(item**3)
    
li

[27, 64, 125]

## Conditional

```
If(boolean):
    .......
Elif(boolean): (optional)
    ...
Elif(boolean): (optional)
...
Else: (optioal)
...
```

In [118]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = []
for item in li:
    if(item % 2 == 0):
        even.append(item)

In [129]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = []
odds = []
chia3 = []
for item in li:
    if(item % 2 == 0):
        even.append(item)
        if (item % 3 ==0):
            chia3.append(item)
    elif (item % 3 ==0):
        chia3.append(item)
        if(item % 2 != 0):
            odds.append(item)
    else:
        odds.append(item)

In [134]:
print("*"*2)
print("*"*3)

**
***

In [ ]:
for i in range()

In [131]:
odds

[1, 3, 5, 7, 9]

In [139]:
def show_starts(rows):
    for i in range(1, rows):
        print("*"*(i+1))

In [140]:
show_starts(8)

*
**
***
****
*****
******
*******
********

In [142]:
for i in range(1, 8, 2):
    print(i)

1
3
5
7

In [146]:
def fizz_buzz(number):
    
    if (number % 3 == 0) & (number % 5 == 0):
        return "FizzBuzz"
    elif(number % 3 == 0):
        return "Fizz"
    elif(number % 5 == 0):
        return "Buzz"
    else:
        return number

In [150]:
fizz_buzz(2)

2

In [ ]:
List, tuple, dict, set

In [ ]:
function
control flow