In [1]:
import pandas as pd

In [3]:
sample = pd.read_csv("sample_data.csv")
sample.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0

## 1

In [4]:
sample.groupby('platform')['account_id'].nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

## 2

In [5]:
sample.groupby('platform')['ad_id'].nunique()

platform
android         130551
desktop_web     144673
ios             144161
mobile_web       40165
on_behalf           82
unknown        3669226
Name: ad_id, dtype: int64

## 3

In [6]:
sample.groupby('category_name')['ad_id'].count()

category_name
Accessories                    121942
Aircon                            275
Bags                            10470
Bed & bedding                     453
Bicycles                        23474
                                ...
Trucks                          52772
Vehicles parts, Accessories     56459
Video games                       662
Washing machine                   202
Watch                           74707
Name: ad_id, Length: 64, dtype: int64

## 4

In [7]:
sample.groupby('category_name')['ad_id'].count().sort_values(ascending=False).head(5)

category_name
PTY-Houses            842357
Mobile Phones         781435
Motorbikes            528333
PTY-Land              415120
Computers, Laptops    351123
Name: ad_id, dtype: int64

## 5

In [8]:
sample.groupby('category_name')['ad_id'].count().sort_values().head(5)

category_name
Lighting                           9
Fan                               12
Other pet                         36
Ornamental plant & decoration     41
Other household items 14110      139
Name: ad_id, dtype: int64

## 8

In [15]:
sample['condition_ad_name'].replace(" ","NaN")
sample.groupby('category_name')['condition_ad_name'].value_counts()

category_name    condition_ad_name
Accessories      Đã sử dụng           23379
                 Mới                   2412
Aircon           Đã sử dụng             269
                 Mới                      6
Bags             Mới                   6635
                                      ...
Video games      Đã sử dụng             330
                 Mới                     85
Washing machine  Đã sử dụng             202
Watch            Đã sử dụng           47584
                 Mới                  27039
Name: condition_ad_name, Length: 106, dtype: int64

## 9

In [11]:
sample['month'] = pd.DatetimeIndex(sample['timestamp']).month
sample.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,month
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0,5
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0,5
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0,5

In [12]:
sample.groupby('month')['ad_id'].nunique().sort_values(ascending=False).head(1)

month
1    753773
Name: ad_id, dtype: int64

## 10

In [13]:
sample['hour'] = pd.DatetimeIndex(sample['timestamp']).hour
sample.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,month,hour
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0,5,17
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5,16
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5,15
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0,5,11
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0,5,17

## Câu 6 7 10 em bó tay :<<