# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [188]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

### Step 5. What is the number of observations in the dataset?

In [7]:
chipo['order_id'].count()

4622

In [13]:
chipo.shape[0]

4622

In [1]:
# Solution 1

In [10]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [2]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [14]:
chipo.shape[1]

5

In [22]:
chipo.shape

(4622, 5)

### Step 7. Print the name of all the columns.

In [27]:
pd.DataFrame(chipo.columns).transpose()

          0         1          2                   3           4
0  order_id  quantity  item_name  choice_description  item_price

### Step 8. How is the dataset indexed?

In [25]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [154]:
c = chipo.groupby('item_name').sum()
c

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [143]:
c_quan_max = c['quantity'].max()
c[c['quantity'] == c_quan_max]['quantity']

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [144]:
c.loc[c['quantity'] == c_quan_max,['quantity']]

              quantity
item_name
Chicken Bowl       761

In [145]:
c.loc[c['quantity'] == c_quan_max,['order_id', 'quantity']]

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [235]:
c[c['quantity'] == c_quan_max]['order_id']

item_name
Chicken Bowl    713926
Name: order_id, dtype: int64

In [236]:
c.loc[c['quantity'] == c_quan_max,['order_id']]

              order_id
item_name
Chicken Bowl    713926

In [237]:
c.loc[c['quantity'] == c_quan_max,['order_id', 'quantity']]

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [238]:
c_c = chipo.groupby('choice_description').sum()
c_c_max = c_c['quantity'].max()
c_c[c_c['quantity'] == c_c_max]['quantity']

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

In [239]:
c_c.loc[c_c['quantity'] == c_c_max,['quantity']]

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were orderd in total?

In [228]:
chipo.quantity.value_counts()

1     4355
2      224
3       28
4       10
15       1
7        1
10       1
5        1
8        1
Name: quantity, dtype: int64

In [223]:
chipo.quantity.value_counts().count()

9

In [178]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [189]:
chipo.item_price.dtype

dtype('O')

In [190]:
usd = lambda x: float(x[1 : -1]) #??????
chipo.item_price = chipo.item_price.apply(usd)
chipo.item_price.dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [207]:
revenue = (chipo['quantity']*chipo['item_price']).sum()
revenue

39237.020000000055

### Step 15. How many orders were made in the period?

In [221]:
chipo.order_id.value_counts()

926     23
1483    14
205     12
691     11
1786    11
759     11
491     10
1660     9
561      9
953      8
195      8
916      8
1006     8
818      8
577      7
1449     7
1443     7
511      7
1454     6
343      6
149      6
1586     6
389      6
1431     6
1655     6
231      6
488      6
848      6
1396     6
1156     6
        ..
1175     1
902      1
1183     1
1199     1
1336     1
777      1
1227     1
1634     1
821      1
1027     1
528      1
1023     1
863      1
137      1
581      1
59       1
819      1
831      1
593      1
605      1
616      1
556      1
871      1
2        1
1813     1
105      1
702      1
718      1
568      1
800      1
Name: order_id, dtype: int64

In [210]:
total_order = chipo.order_id.value_counts().count()
total_order

1834

In [240]:
chipo.order_id.value_counts().sum()

4622

### Step 16. What is the average revenue amount per order?

In [213]:
aver_order = revenue/total_order
aver_order

21.394231188658701

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [224]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [220]:
chipo.item_name.value_counts().count()

50

In [241]:
chipo.item_name.value_counts().sum()

4622