In [21]:
import pandas as pd
import datetime

In [36]:
data = pd.read_csv('sample_data.csv')
data.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0

In [ ]:
# 1

In [38]:
data.groupby('platform')['account_id'].nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

In [40]:
# 2

In [39]:
data.groupby('platform')['ad_id'].nunique()

platform
android         130551
desktop_web     144673
ios             144161
mobile_web       40165
on_behalf           82
unknown        3669226
Name: ad_id, dtype: int64

In [ ]:
# 3

In [10]:
data.groupby('category_name')['ad_id'].count()

category_name
Accessories                                    121942
Aircon                                            275
Bags                                            10470
Bed & bedding                                     453
Bicycles                                        23474
Bird                                            28684
Books                                             194
Cameras, Video Cameras                          41631
Cars                                           145121
Clothes                                         27205
Collectibles, Antiques                          46042
Components                                       3733
Computers, Laptops                             351123
Desktop                                         56934
Dog                                             64872
Electric vehicles                               24896
Fan                                                12
Fridge                                         155371
Funiture, Plants                               103005
Household drawer & shelf                          257
Household table & chair                           746
Jobs - Legacy cat                               35475
Jobs looking for people                         46239
Kitchen appliance                                2188
Kitchen utensil & dinnerware                      357
Lighting                                            9
Mobile Phones                                  781435
Mom and kids                                    21484
Motorbikes                                     528333
Musical instruments                             38743
                                                ...
Ornamental plant & decoration                      41
Other Vehicles                                    614
Other accessories                               26231
Other hobbies                                     345
Other household items                           96860
Other household items 14110                       139
Other pet                                          36
Other pets & equipments                         18295
Others                                          24989
PTY-Apartments                                  96202
PTY-Houses                                     842357
PTY-Land                                       415120
PTY-Office, Commercial Properties              124718
PTY-Rooms                                       52543
People looking for jobs                          7707
Perfume                                          5026
Rooster                                        143983
Services                                        11783
Shoes                                           28153
Smart wearables                                   968
Specialized equipments, Agricultural breeds     66877
Sports, Outdoors                                 9196
TV, Speakers, MP3 players                      349711
Tablets                                         59712
Travel                                           1157
Trucks                                          52772
Vehicles parts, Accessories                     56459
Video games                                       662
Washing machine                                   202
Watch                                           74707
Name: ad_id, dtype: int64

In [ ]:
# 4

In [12]:
data.groupby('category_name')['ad_id'].count().sort_values(ascending = False).head()

category_name
PTY-Houses            842357
Mobile Phones         781435
Motorbikes            528333
PTY-Land              415120
Computers, Laptops    351123
Name: ad_id, dtype: int64

In [ ]:
# 5

In [13]:
data.groupby('category_name')['ad_id'].count().sort_values(ascending = False).tail()

category_name
Other household items 14110      139
Ornamental plant & decoration     41
Other pet                         36
Fan                               12
Lighting                           9
Name: ad_id, dtype: int64

In [ ]:
# 6

In [16]:
data.groupby('category_name')['price'].mean().sort_values(ascending = False)

category_name
New PTY-Villa, Private House                   4.842131e+09
PTY-Houses                                     4.277837e+09
New PTY-Shophouse, Officetel                   2.867514e+09
PTY-Land                                       2.690955e+09
New PTY-Apartments                             2.030694e+09
Bird                                           1.474606e+09
PTY-Apartments                                 1.136126e+09
PTY-Office, Commercial Properties              9.918028e+08
Other hobbies                                  7.213995e+08
Trucks                                         6.693941e+08
Cars                                           5.611877e+08
Other Vehicles                                 3.781066e+08
Jobs - Legacy cat                              2.736638e+08
Services                                       1.919976e+08
Rooster                                        1.917602e+08
Others                                         1.669732e+08
Sports, Outdoors                               1.292903e+08
Vehicles parts, Accessories                    1.141225e+08
Other accessories                              9.428206e+07
Motorbikes                                     9.342245e+07
Bags                                           8.026387e+07
Clothes                                        6.333103e+07
Specialized equipments, Agricultural breeds    6.217768e+07
Musical instruments                            5.981323e+07
Collectibles, Antiques                         5.284209e+07
Dog                                            4.148606e+07
PTY-Rooms                                      4.027282e+07
Watch                                          3.596161e+07
Cameras, Video Cameras                         3.527940e+07
Mobile Phones                                  3.314954e+07
                                                   ...
Desktop                                        1.376637e+07
Washing machine                                1.349307e+07
Other household items                          1.258057e+07
People looking for jobs                        1.090129e+07
Household drawer & shelf                       9.270467e+06
Accessories                                    8.808542e+06
Mom and kids                                   7.764274e+06
Computers, Laptops                             7.304321e+06
Travel                                         6.765364e+06
Fridge                                         6.281682e+06
Aircon                                         5.913818e+06
Jobs looking for people                        5.653756e+06
Office Equipments                              5.539453e+06
Smart wearables                                4.612961e+06
Household table & chair                        4.458298e+06
Bicycles                                       3.262726e+06
Other pets & equipments                        2.823146e+06
Perfume                                        2.822657e+06
Kitchen utensil & dinnerware                   2.336751e+06
Video games                                    2.210399e+06
Kitchen appliance                              2.062533e+06
Books                                          1.682361e+06
Bed & bedding                                  1.482936e+06
Ornamental plant & decoration                  1.200000e+06
Components                                     9.099373e+05
Shoes                                          8.630324e+05
Other household items 14110                    8.079137e+05
Lighting                                       5.777778e+05
Fan                                            1.750000e+05
Other pet                                      1.000000e+05
Name: price, dtype: float64

In [ ]:
# 7

In [17]:
data.groupby('region_name')['price'].mean().sort_values(ascending = False)

region_name
Tp Hồ Chí Minh                  1.302872e+09
Quảng Nam Đà Nẵng               9.412990e+08
Nam Trung Bộ                    9.059112e+08
Đông Nam Bộ                     7.097406e+08
Hà Nội                          6.645161e+08
Tây Nguyên                      6.075989e+08
Bình Trị Thừa Thiên Huế         4.143188e+08
Cần Thơ - Tây Nam Bộ            4.101916e+08
Tây Bắc Bộ                      3.616878e+08
Các tỉnh lân cận Hà Nội         3.186963e+08
Thanh Nghệ Tĩnh                 2.442715e+08
Đông Bắc Bộ                     2.312546e+08
Hải Phòng Nam Định Thái Bình    1.573403e+08
Name: price, dtype: float64

In [ ]:
# 8

In [18]:
data.groupby('category_name')['condition_ad_name'].value_counts()

category_name                                condition_ad_name
Accessories                                  Đã sử dụng            23379
                                             Mới                    2412
Aircon                                       Đã sử dụng              269
                                             Mới                       6
Bags                                         Mới                    6635
                                             Đã sử dụng             3816
Bed & bedding                                Mới                     453
Bicycles                                     Đã sử dụng            20507
                                             Mới                    2901
Bird                                         Đã sử dụng            16786
                                             Mới                   11787
Books                                        Mới                     159
                                             Đã sử dụng               34
Cameras, Video Cameras                       Đã sử dụng            13571
                                             Mới                     271
Cars                                         Đã sử dụng           120068
                                             Mới                   25049
Clothes                                      Mới                   17161
                                             Đã sử dụng            10014
Collectibles, Antiques                       Đã sử dụng             7952
                                             Mới                    1298
Computers, Laptops                           Đã sử dụng            95975
                                             Mới                      55
Desktop                                      Đã sử dụng            10335
                                             Mới                      27
Dog                                          Mới                   48883
                                             Đã sử dụng            15345
Electric vehicles                            Đã sử dụng            23747
                                             Mới                    1141
Fan                                          Mới                      12
                                                                   ...
PTY-Rooms                                    Đã sử dụng              939
                                             Mới                       1
People looking for jobs                      Đã sử dụng                4
Perfume                                      Mới                    4466
                                             Đã sử dụng              555
Rooster                                      Mới                  119281
                                             Đã sử dụng            24033
Services                                     Đã sử dụng             2191
                                             Mới                     365
Shoes                                        Mới                   14407
                                             Đã sử dụng            13721
Specialized equipments, Agricultural breeds  Đã sử dụng            44287
                                             Mới                   21773
Sports, Outdoors                             Đã sử dụng             2340
                                             Mới                     160
TV, Speakers, MP3 players                    Đã sử dụng            62393
                                             Mới                     855
Tablets                                      Đã sử dụng            19402
                                             Mới                      29
Travel                                       Đã sử dụng              171
                                             Mới                       8
Trucks                                       Đã sử dụng            37043
                                             Mới                   15688
Vehicles parts, Accessories                  Đã sử dụng            38963
                                             Mới                   17202
Video games                                  Đã sử dụng              330
                                             Mới                      85
Washing machine                              Đã sử dụng              202
Watch                                        Đã sử dụng            47584
                                             Mới                   27039
Name: condition_ad_name, dtype: int64

In [ ]:
# 9

In [37]:
data['month'] = pd.DatetimeIndex(data['timestamp']).month
data.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,month
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0,5
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0,5
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0,5

In [33]:
data.groupby('month')['ad_id'].count()

month
1     874485
2     293482
3     578151
4     479568
5     455109
6     406413
7     388165
8     378905
9     351418
10    371341
11    351869
12    334392
Name: ad_id, dtype: int64

In [41]:
# 10

In [42]:
data['hour'] = pd.DatetimeIndex(data['timestamp']).hour
data.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,month,hour
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0,5,17
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5,16
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5,15
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0,5,11
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0,5,17

In [51]:
sep = data[data.month == 9].groupby('month')['ad_id'].nunique()
ad_per_hour_sep = sep / (30*24)
ad_per_hour_sep

month
9    323.669444
Name: ad_id, dtype: float64

In [52]:
oct = data[data.month == 10].groupby('month')['ad_id'].nunique()
ad_per_hour_oct = oct / (31*24)
ad_per_hour_oct

month
10    331.372312
Name: ad_id, dtype: float64

In [53]:
nov = data[data.month == 11].groupby('month')['ad_id'].nunique()
ad_per_hour_nov = nov / (30*24)
ad_per_hour_nov

month
11    321.111111
Name: ad_id, dtype: float64

In [59]:
data[data.month == 9].groupby('hour')['ad_id'].nunique().sort_values(ascending = False).head(1)

hour
9    31464
Name: ad_id, dtype: int64

In [56]:
data[data.month == 10].groupby('hour')['ad_id'].nunique().sort_values(ascending = False).head(1)

hour
9    33858
Name: ad_id, dtype: int64

In [57]:
data[data.month == 11].groupby('hour')['ad_id'].nunique().sort_values(ascending = False).head(1)

hour
9    31663
Name: ad_id, dtype: int64