# Handling Missing Data
![](https://www.cdn.geeksforgeeks.org/wp-content/uploads/creating_dataframe1.png)

## Operating on Null Values
- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

In [1]:
import numpy as np
import pandas as pd

### Detecting null values

In [2]:
data = pd.Series([1, np.nan, 'hello', None])

In [3]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

#### Boolean masks can be used directly as a ``Series`` or ``DataFrame`` index:

In [4]:
data[data.notnull()]

0        1
2    hello
dtype: object

## Dropping null values: ``dropna()``

In [5]:
data.dropna()

0        1
2    hello
dtype: object

For a **``DataFrame``**, there are more options.  
Consider the following ``DataFrame``:

In [6]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

#### By default, ``dropna()`` will drop all rows in which *any* null value is present:

In [7]:
df.dropna()

     0    1  2
1  2.0  3.0  5

#### Alternatively, you can drop NA values along a different axis; ``axis=1`` drops all columns containing a null value:

In [8]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

## Filling null values: ``fillna()``

In [9]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

#### Fill NA entries with a single value, such as zero:

In [10]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

#### Forward-fill to propagate the previous value forward:

In [11]:
# forward-fill
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

#### Fack-fill to propagate the next values backward:

In [12]:
# back-fill
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

### For ``DataFrame``s, the options are similar, but we can also specify an ``axis`` along which the fills take place:

In [13]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [14]:
df.fillna(method='ffill', axis=1)

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0

Notice that if a previous value is not available during a forward fill, the NA value remains.